.alarm {
    .container {
        margin: 2rem 1rem;
        .new-follow {
            h3 {
                text-align: start;
                margin-bottom: 1rem;
            }
        }
        .new-deal {
            margin-top: 2rem;
            h3 {
                text-align: start;
                margin-bottom: 1rem;
            }
        }
        .new-act {
            margin-top: 2rem;
            h3 {
                text-align: start;
                margin-bottom: 1rem;
            }
        }
    }
}