.footer {
    display: flex;
    position: absolute;
    bottom: 0;
    justify-content: space-around;
    width: 100%;
    background-color: var(--color-light-gray);
    padding: .5rem;
    #current-page {
        color: var(--main-color);
    }
}