.noti-action-item {
    border:1px solid var(--color-black);
    border-radius: 15px;
    padding: 8px;
    margin: .5rem 0;
    .arrow-icon {
        width: 100%;
        text-align: end;
        color: var(--color-red);
    }
}