.user-list-item {
  display: flex;
  border-bottom: 1px solid;
  height: 70px;
  .icon-container {
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    .icon {
      width: 50px;
      height: 50px;
      background-color: gray;
      border-radius: 25px;
    }
  }
  .right-container {
    display: flex;
    justify-content: space-between;
    flex: 1;
    .text-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .nickname {
        font-size: var(--font-size-lg);
      }
      .book-count {
        font-size: 12px;
        color: gray;
      }
    }
    .button-container {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      padding: 10px;
      .button {
        padding: 5px;
        border: none;
        background-color: var(--main-color);
        border-radius: 6px;
      }
    }
  }
}
