@media screen and (min-width: 600px) {
  .App #app-content {
    display: none;
  }
  .App #alert {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .App #app-content {
    display: block;
    margin-top: 0;
  }
  .App #alert {
    display: none;
  }
}
