.modify-profile {
  color: var(--color-black);
  .wrap {
    padding: 1rem;
  }
  h1 {
    font-size: var(--font-size-xl);
  }
  .out {
    color: gray;
    text-align: end;
    font-size: var(--font-size-sm);
  }
  .profile-img {
    height: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .img {
      width: 50%;
      padding-bottom: 50%;
      border-radius: 100%;
      background-color: var(--color-light-gray);
    }
    .text {
      font-size: var(--font-size-sm);
      text-align: end;
    }
  }
  .label-with-input {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    label {
      font-size: var(--font-size-sm);
      margin-bottom: 4px;
    }
    input {
      width: 100%;
      font-size: var(--font-size-lg);
      padding: 4px 2px;
      margin-bottom: 2px;
      &:read-only {
        background-color: var(--color-light-gray);
      }
    }
    .error-message {
      font-size: var(--font-size-sm);
      height: var(--font-size-sm);
      color: var(--color-red);
    }
  }
  .button {
    width: 100%;
    height: 45px;
    border: none;
    background-color: none;
    background-color: var(--main-color);
    border-radius: 6px;
    margin-bottom: 1rem;

    &.button-sm {
      width: 50%;
    }
  }
}
